@{
    ViewBag.Title = "Home";
}

<div class="w3-content w3-display-container">
    <input type="hidden" id="idTempoTransicao" value="@ViewBag.TempoTransicao" />

    @foreach (var item in ViewBag.ListaImagens)
    {
        <img class="mySlides"
             src="@item"
             style="width: 100%" />
    }

    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">
        &#10094;
    </button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">
        &#10095;
    </button>
</div>